# Application
web/app/plugins/*
web/app/languages/*
web/app/themes/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp

# Composer
vendor/*
!vendor/.gitkeep

# Idea
.idea/